.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: 50px auto;
    text-align: left;
    padding: 20px 10px;
}

.users .list-title {
    color: darkblue;
}

.users .users-form input,
.users .users-form button {
    border: none;
    padding: 10px;
}

.users .users-form input {
    margin-right: 10px;
}

.users .users-form button {
    background-color: #0066ff;
    color: #fff;
    transition: all 0.3s;
}

.users .users-form button:hover {
    background-color:  #003399;
    cursor: pointer;
}

.users .error-msg {
    color: red;
    font-weight: bold;
}


